.overlay {
  position: absolute;
  background-color: $black-a54;
  z-index: 2;
  cursor: default;
  left: 0;
}

.clear {
  clear: both;
}

.dot-separator {
  opacity: 0.54;
  padding: 3px;
  color: $black;
}

.trend {
  height: 20px;
}

.circle {
  border-radius: 50%;
  font-size: 10px;
  line-height: 13px;
  padding: 6px;
  background: rgba(0, 119, 194, 0.54);
  border: 1px solid $light-gray;
  color: $white;
}

&.is-main-navbar-open {
  .progress:not(:last-child) {
    margin-bottom: 0;
  }
}

.search-navbar {
  .navbar-item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $black;
  }
}

.border-title {
  margin-left: 12px;
  color: $black-a87;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
}

.progress {
  height: 8px;
  border-radius: 0;
  z-index: 1;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &.is-fixed-top {
    position: fixed;
    top: 52px;
  }
}

.breadcrumb {
  li {
    &:first-child a {
      line-height: 25px;
    }

    a {
      font-style: italic;
      font-weight: 300;
      font-size: 12px;
      line-height: 15px;

      > span {
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}