footer {
  border-top: 16px solid $black-bg;

  .is-divider-vertical {
    border-left: 1px solid $light-gray;
  }

  .is-divider {
    border-top: 1px solid $light-gray;
  }

  .column {

    &.is-3 {
      padding-left: 5%;
    }

    .list-header, .list-item {
      font-style: normal;
      color: $black;
      opacity: 0.87;
      align-items: center;
      font-size: 14px;
      text-align: left;
      padding-bottom: 20px;
    }

    .list-header {
      font-weight: bold;
      line-height: 18px;
    }

    .list-item {
      font-weight: 300;
      line-height: 25px;
      padding: 0;

      &:not(:last-child) {
        border-bottom: 0;
      }

      &.empty {
        padding-top: 15px;
      }
    }
  }

  .bottom-links {
    > div {
      &.is-divider-vertical {
        height: 20px;
        margin: 0 5px;
      }

      &.copyright {
        float: right;
      }

      font-weight: 300;
      font-size: 12px;
      line-height: 20px;
      display: inline-flex;
      align-items: center;
      text-align: justify;
      float: left;
      color: $black-a87;
    }
  }

  > .is-hidden-desktop {
    > .section {
      background: $light-gray;
      padding: 0;

      .column {
        padding: 0 0.75rem;
        border-top: 1px solid $black-a12;

        &.copyright {

          > .list-header {
            width: 100%;
            font-weight: 300;
            font-size: 12px;
            line-height: 20px;
            align-items: center;
            color: $black-a87;
            padding: 14px 20px;
            height: 70px;

            > div:first-child {
              width: 68%;
              text-align: left;
            }

            > div:last-child {
              width: 32%;
              text-align: right;
            }
          }
        }
      }

      .list-header {
        text-transform: uppercase;
        background: $white;
        height: 40px;
        align-items: center;
        line-height: 40px;
        padding: 0 20px;
      }

      .list-item {
        font-weight: 300;
        font-size: 14px;
        line-height: 38px;
        text-align: justify;
        color: $black;
        opacity: 0.87;
        padding: 0 20px;
      }

      .social {
        padding: 0 2rem;
        background: $white;
        line-height: 40px;
        color: $black;
        font-weight: bold;
        font-size: 14px;
        display: flex;
        align-items: center;
        text-align: justify;

        .social-title {
          padding-right: 10px;
        }

        .icon {
          margin-left: 7px;
        }

        .list-items {
          text-transform: uppercase;
        }
      }
    }
  }
}