.left-sidebar {
  z-index: 1;
  .panel {
    margin-left: 4%;
    background: $white;
    border: 1px solid $light-gray;
    box-sizing: border-box;
    box-shadow: 0 2px 6px $black-a16;
    border-radius: 2px;

    &.is-fixed-top {
      position: fixed;
    }

    &.is-absolute-top {
      position: absolute;
    }

    .logo {
      font-style: italic;
      font-weight: 300;
      font-size: 14px;
      line-height: 45px;
      color: $dark-gray;
      background-color: $light-gray-a;
      padding-left: 20px;
    }

    .panel-row {
      line-height: 34px;

      &:nth-child(10), &:nth-child(11) {
        border-bottom: 1px solid $light-gray;
      }

      a {
        font-style: italic;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: $dark-gray;
        padding-left: 20px;
      }

      &.is-active a {
        color: $black;
        border-left: 10px solid;
        padding-left: 10px;
      }
    }

    .article-info {
      padding: 20px 20px 0 20px;

      .article-area {
        font-style: italic;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        display: flex;
        align-items: center;
        color: $black-a87;
      }

      .article-volume {
        font-style: italic;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        display: flex;
        align-items: center;
        color: $black-a54;
      }

      .article-date {
        font-style: italic;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        color: $black-a54;
      }
    }

    .next-previous-buttons {
      height: 50px;
      border-bottom: 1px solid $light-gray;
      padding: 0 5px;

      .previous {
        float: left;
      }

      .next {
        float: right;
      }

      a {
        font-style: italic;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        text-decoration: none;
        color: $blue;

        > .fa-long-arrow-alt-right, > .fa-long-arrow-alt-left {
          color: $light-gray;
        }
      }
    }
  }
}