.main-navbar {
  background: $black-bg;

  .navbar-burger {
    align-items: center;
    text-align: center;
    color: $light-gray-a;
    width: 100%;
    line-height: 52px;
    font-size: 14px;
  }

  .main-navbar-menu {
    overflow: auto;
    max-height: 420px;

    &.is-active {
      padding: 0;
      .navbar-item {
        background: $black-bg;
        border-top: 1px solid $darker-gray;
      }
    }

    .navbar-item {
      color: $light-gray-a;

      &:hover {
        color: $light-gray-a;
        background-color: $dark-gray;
      }
    }
  }

  .subscribe-button {
    text-align: center;

    &:hover {
      background-color: transparent;
    }

    > .button {
      background: $light-blue;
      border-radius: 15px;
      border-color: $light-blue;
      font-family: 'Merriweather Sans', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
      color: $white;
    }
  }
}