.main-content {
  padding: 0 10px 30px 10px;

  @import "./right-sidebar-styles";
  @import "./left-sidebar-styles";

  .full-article {
    h1 {
      font-family: 'Merriweather Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 35px;
      color: $black;
      border-bottom: 1px solid $light-gray;
      padding-top: 10px;
      padding-bottom: 40px;
    }

    > span {
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: $black-a54;

      .open-access {
        color: $green;
        font-weight: normal;
      }
    }

    > .article-authors {
      font-size: 14px;
      line-height: 30px;
      color: $black-a54;
      opacity: 0.87;
      border-bottom: 1px solid $light-gray;
      padding-bottom: 10px;

      > .authors-title, .editors-title {
        font-weight: bold;
        color: $black-a87;
      }

      > span .button {
        background: $light-gray;
        border-radius: 2px;
        position: relative;
        top: -5px;
        width: 50px;
        font-size: inherit;
      }
    }

    > .article-publications {
      border-bottom: 1px solid $light-gray;
      font-size: 14px;
      line-height: 18px;
      color: $dark-gray;
      padding: 1rem 0.75rem;

      > .publications-title {
        font-weight: bold;
        color: $black-a87;
      }
    }

    > .article-buttons {
      padding: 10px 0;
      border-bottom: 1px solid $light-gray;

      > .article-buttons-inner {
        float: right;

        .button {
          border-radius: 2px;
          font-size: 13px;
          background: $light-gray;
          color: $dark-gray;
        }

        .view-all-formats {
          background: $light-blue;
          color: $white;
        }

        .pdf {
          background: $coral;
          color: $white;
        }
      }
    }

    > .magic-burger {
      box-shadow: 0 2px 6px $black-a16;
      height: 52px;

      .navbar-burger-toggle {
        padding: 14px;
        border-right: 1px solid $black-a12;

        &.is-active {
          background-color: $dark-gray;

          a {
            color: $light-gray;
          }
        }

        a {
          color: $dark-gray;
        }
      }

      .navbar-burger-container {
        width: calc(100% - 52px);
      }

      .magic-row {
        width: calc(100vw - 52px);
        overflow-x: auto;
        display: grid;
        grid-gap: calc(20px / 2);
        grid-template-columns: repeat(7, 38px);
        overflow-y: hidden;

        &:hover {
          background-color: transparent;
        }

        > .magic-row-item {
          width: 48px;
          height: 52px;
          display: flex;
          scroll-snap-align: center;
          padding: 15px 15px 15px 17px;

          &.is-active {
            background-color: $dark-gray;
            .svg-inline--fa {
              color: $white;
            }
          }

          &:not(.is-active) {
            .svg-inline--fa {
              color: $black;
              opacity: 0.54;
            }
          }
        }
      }
    }

    .mobile-top-magic-burger-containers {
      padding-top: 0;

      a.navbar-item {
        font-style: italic;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: $black;

        > .comments-amount {
        }
      }

      .navbar-item {
        border-top: 1px solid $black-a12;

        &.logo {
          text-align: center;
        }

        .tabs {
          ul {
            .tab-item {
              padding: 0;
              font-size: 17px;
              line-height: 21px;
              text-align: center;
              background: $white;

              > a {
                color: $darker-gray;
                border-color: $dark-gray;
                border-width: 2px;
              }

              &.is-active {
                background: $dark-gray;

                > a {
                  color: $white;
                }
              }
            }
          }
        }

        .information-tab, .authors-tab {
          .header {
            font-style: italic;
            font-weight: bold;
            font-size: 18px;
            line-height: 23px;
            color: $black-a87;
          }
        }
      }

      .navbar-default-pane {
        .article-info {
          font-style: italic;
          font-weight: bold;
          font-size: 14px;
          line-height: 26px;

          > .article-area {
            color: $black-a87;
          }

          > .article-volume {
            color: $black-a54;
          }

          > .article-date {
            font-weight: 300;
            color: $black-a54;
          }
        }

        .next-previous-buttons {
          height: 50px;

          .previous {
            float: left;
          }

          .next {
            float: right;
          }

          a {
            font-style: italic;
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            color: $black-a54;
            text-decoration: none;

            > .fa-long-arrow-alt-right, > .fa-long-arrow-alt-left {
              color: $blue;
            }
          }
        }
      }

      .navbar-metrics-pane {
        .circle {
          padding: 3px;
        }
      }

      .navbar-container-pane {
        background: $black-a5;

        div.navbar-item {
          padding: 0;
        }

        .header {
          height: 52px;
          padding: 0.5rem 0.75rem;

          span {
            font-style: italic;
            font-weight: bold;
            font-size: 18px;
            line-height: 23px;
            color: $black-a87;
            opacity: 0.54;
          }

          .fa-times {
            float: right;
          }
        }
      }
    }

    > .article-abstract, > .article-introduction {
      padding: 20px 28px;

      h2 {
        font-style: italic;
        font-weight: normal;
        font-size: 25px;
        line-height: 31px;
        color: $black;
      }

      p {
        font-weight: 300;
        font-size: 17px;
        line-height: 34px;
        color: $darker-gray;
      }
    }
  }
}