/* Mobile */
@media only screen and (max-width: 768px) {
  .border-title {
    border-left: 10px solid;
    padding-left: 6px;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    line-height: 23px;
  }
}

/* Tablet */
@media only screen and (min-width: 769px) and (max-width: 1023px) {
  .border-title {
    border-left: 10px solid;
    padding-left: 6px;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    line-height: 23px;
  }
}

/* Desktop */
@media only screen and (min-width: 1024px) {

}