.mobile-top-navbar {
  .mobile-top-navbar-burger {
    height: 52px;
    box-shadow: 0 2px 6px $black-a16;

    .burger {
      float: left;
      border-right: 1px solid $light-gray;

      &.logo {
        width: calc(100% - 104px);
      }

      &.login-icon, &:first-child {
        width: 52px;
      }

      &.is-active {
        .list-icon {
          display: inline-block;
        }
      }

      .list-icon {
        display: none;
        top: 2px;
        left: 5px;
        position: relative;
      }
    }
  }
}