.more-from-issue {
  padding: 0;

  > .container.title {
    margin: 0;

    > .notification {
      border-radius: 0;
      background: $black;
      font-weight: normal;
      font-size: 22px;
      line-height: 28px;
      padding: 6px 2.5rem;

      color: $light-gray-a;
    }
  }

  > .container.articles {
    > article {
      &:last-child {
        border-top: 1px solid $light-gray;
        box-sizing: border-box;
      }

      .left-bar {
        > div {
          font-family: 'Merriweather Sans', sans-serif;
          font-style: normal;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 12px;
          line-height: 15px;

          &.open-access {
            color: $green;
            font-weight: normal;
          }
        }
      }

      .article-body {
        > .article-title {
          font-size: 17px;
          line-height: 23px;

          > a {
            color: rgba(0, 119, 194, 0.87);
          }
        }

        > .article-description {
          padding-top: 30px;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 18px;
          text-align: justify;

          color: $black-a54;
          > a {
            color: $black-a54;
          }
        }

        > .article-authors {
          padding-top: 12px;
          font-size: 14px;
          line-height: 18px;
          color: $dark-gray;
          opacity: 0.87;

          > .author {
            text-decoration-line: underline;
            color: inherit;
            line-height: 30px
          }

          > .button {
            background: $light-gray;
            border-radius: 2px;
            position: relative;
            top: -5px;
            width: 50px;
            left: 15px;
            font-size: inherit;
          }
        }

        > .article-content {
          padding-top: 8px;
          font-weight: normal;
          font-size: 14px;
          line-height: 23px;
          text-align: justify;

          color: $black-a87;

          opacity: 0.87;

          > a.read-more {
            color: rgba(0, 119, 194, 0.87);
          }
        }

        > .article-citations-buttons {
          padding-top: 20px;
          color: $black;

          >.article-citations {
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;

            >.citation-number, >.metrics-number {
              color: $dark-gray;
            }
          }

          > .article-buttons {
            > .get-access {
              background: $light-green;
              border-radius: 2px;
              text-align: center;
              color: $white;
              font-size: 13px;
              line-height: 16px;
            }

            >.export {
              background: $light-gray;
              border-radius: 2px;
              opacity: 0.54;
              color: $black;
            }
          }
        }
      }
    }

    .table-of-content-button {
      text-align: center;
      padding-top: 30px;
      padding-bottom: 40px;

      .button {
        font-family: 'Merriweather Sans', sans-serif;
        color: $darker-gray;
        font-size: 14px;
        line-height: 18px;
        border-color: $darker-gray;
        padding: 0 28px;
        height: 40px;
      }
    }
  }
}