.right-sidebar {
  z-index: 3;
  .panel {
    &.magic-column-buttons {
      margin-left: 20px;

      .magic-column {
        background: $white;
        box-shadow: 0 2px 6px $black-a16;
        border-radius: 24px;
        width: 30px;
        text-align: center;

        &.is-fixed-top {
          position: fixed;
        }

        &.is-absolute-top {
          position: absolute;
        }

        .magic-column-item {
          height: 45px;
          line-height: 45px;

          &:first-child {
            border-top-left-radius: 24px;
            border-top-right-radius: 24px;
          }

          &:last-child {
            border-bottom-left-radius: 24px;
            border-bottom-right-radius: 24px;
          }

          &.is-active {
            background-color: $dark-gray;

            a {
              color: $white;
            }
          }

          a {
            color: $dark-gray;
          }
        }
      }
    }

    &.navbar-container-pane {
      position: absolute;
      right: 0;
      width: 30%;
      height: 100%;
      background-color: $light-gray;

      &.navbar-metrics-column-pane {
        .circle {
          padding: 3px;
        }
      }

      .header {
        background-color: $black-a5;
        color: $black-a87;
        opacity: 0.54;
        font-style: italic;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        padding: 12px 10px;

        .close-column-tabs {
          float: right;
        }
      }

      .tabs {

        &:not(:last-child) {
          margin: 0;
        }

        ul {
          .tab-item {
            padding: 0;
            font-size: 17px;
            line-height: 21px;
            text-align: center;
            background: $white;

            > a {
              color: $darker-gray;
              border-color: $dark-gray;
              border-width: 2px;
            }

            &.is-active {
              background: $dark-gray;

              > a {
                color: $white;
              }
            }
          }
        }
      }

      .tab-content {
        height: 700px;
        padding-top: 10px;
      }

      .information-tab, .authors-tab {
        .header {
          font-style: italic;
          font-weight: bold;
          font-size: 18px;
          line-height: 23px;
          color: $black-a87;
        }
      }
    }
  }

  &.is-container-pane-open {
    .magic-column {
      right: 31%;
    }
  }
}