.top-navbar {
  border-bottom: 1px solid $light-gray;

  .navbar-end {
    .access-by, .navbar-item {
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      text-align: right;
      color: $dark-gray;
    }

    .is-divider-vertical {
      border-left: 1px solid $light-gray;
    }

    .access-by {
      font-style: italic;
    }

    .log-in, .register {
      font-weight: bold;
      color: $light-blue;
    }
  }
}