
$progress-value-background-color: #0187B3;

$white: #FFFFFF;

$black: #000000;
$black-bg: #0E0E0E;
$black-a5: rgba(0, 0, 0, 0.05);
$black-a12: rgba(0, 0, 0, 0.12);
$black-a16: rgba(0, 0, 0, 0.16);
$black-a54: rgba(0, 0, 0, 0.54);
$black-a87: rgba(0, 0, 0, 0.87);

$light-gray: #E0E0E0;
$light-gray-a: rgba(255, 255, 255, 0.87);
$dark-gray: #757575;
$darker-gray: #333333;

$light-blue: #0187B3;
$blue: #2F80ED;

$coral: #EB5757;

$green: #219653;
$light-green: #20bc56;